<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" text="text\css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/account.css')}}">
    
    <title>Document</title>
</head>
<body>
    <div class="nav">     
        <div id="top_bar">
            <div id="product_name">
                Yummy Recipes
            </div>
        </div>          
    </div>
    
    
    <div class="container-fluid">   
                
        <div class="row">
            <div class="col-sm-12">   
                <div id="login_page">
                    <div class="form">
                            
                            <form class="register_form" action="/">
            
                                <input class="username" oninput="checkFilled()" type="text" name="username" placeholder="username"><br>
                                <input id="fname" type="text" placeholder="first name">
                                <input id="lname" type="text" placeholder="last name"><br>
                                <input id="email_address" type="text" placeholder="email"><br>
                                <input id="password" type="text" placeholder="password"><br>
                                <input id="confirm_password" type="text" placeholder="confirm password"><br>
                                <button>Create</button>
                                <p class="message">Already Registered ? <a href="#">login</a></p>
                            </form>

                            <form class="login_form">
                                    <input type="text" placeholder="username"><br>
                                    <input type="password" placeholder="password">
                                    <button>login</button>
                                    <p class="message">Not Registered ? <a href="#">Register</a></p>
                                    
                                </form>
                    </div>              
                </div>  
            </div>   
        </div>
    </div>


    <script src="{{url_for('static', filename='jquery/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    

    <script type="text/javascript">
        
        $(".message a").click(function() {
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        })
    </script>

    

    
 
    
</body>
</html>