<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="D:\Yummy reciepe\static\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="D:\Yummy reciepe\static\bootstrap\css\home.css">
    <title>Home</title>
</head>
<body>
    <div id="top_bar">
        <div class="navbar" >
            <div class="nav_cont">

                <a href="#">Home</a>
                <a href="#">Profile</a>
                <a href="#">Friends</a>
                <a href="#">Messages</a>
            </div>    
        </div>
    </div>
</body>

<script src="D:\Yummy reciepe\static\jquery\jquery-3.3.1.min.js"></script>
<script src="D:\Yummy reciepe\static\bootstrap\js\bootstrap.min.js"></script>

</script>
</html>